body, html{
  height:100%;
  background-repeat: no-repeat;
  background-color: black;
}
body{
  background-image: url('src/maxresdefault.jpg');
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}

.title,
.addDancerButton{
  padding:1px 5px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  display: none;
}


.quantifier,
.moveTime{
  height: auto;
  width: 40px;
  margin-left: 5px;
  margin-right: 5px;
}

.moveTime{
  width: 50px;
}

.dancer{
  border:10px solid white;
  border-radius:10px;
  position:absolute;
}

.shape{
  border-radius:0;
}

.colorful{
  border-color: green
}

.lineUpDancersButton{
  padding-left: 20px;
}

.runAway{
  display: none;
}
